In [120]:
from bs4 import BeautifulSoup
import requests
import json
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None  # default='warn'

In [121]:
def soup_from_url(url):
    page = requests.get(url)
    return BeautifulSoup(page.content, 'html.parser')

def get_json_ranks_dataframe(url, n):
    soup = soup_from_url(url)
    newDictionary=json.loads(str(soup))
    return pd.DataFrame.from_dict(newDictionary["data"]).head(n)

In [147]:
# urls directly to get the JSON files
url1 = "https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051.txt?_=1508356628355"
url2 = "https://www.timeshighereducation.com/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json"

# dataframes with all ranks from JSON, 200 first positions
df1 = get_json_ranks_dataframe(url1,200)
df2 = get_json_ranks_dataframe(url2,200)

In [148]:
def get_missing_values_tu(url):
    soup = soup_from_url(url)
    
    def get_div_number(c):
        container = soup.find("div", { "class" : c })
        if not container:
            return np.nan
        num_str = container.find("div", {"class": "number"}).contents[0]
        num = ''.join([i for i in num_str if i.isdigit()])
        return num
    
    # get total faculty staff
    num_staff_total = get_div_number("total faculty")
    
    # get total international faculty staff
    num_staff_inter = get_div_number("inter faculty")
    
    # get total faculty student
    num_student_total = get_div_number("total student")
    
    # get total international faculty student
    num_student_inter = get_div_number("total inter")
    
    return [num_staff_total, num_staff_inter, num_student_total, num_student_inter, url]

def get_missing_values_the(url):
    soup = soup_from_url(url)
    
    region = soup.find("meta",  property="og:locality")
    address = soup.find("meta", property="og:street_address")
    
    ret_val = ""
    if region:
        ret_val = region["content"]
    elif address:
        ret_val = address["content"].replace(',','').strip()
    else:
        ret_val = np.nan
        
    return [ret_val, url]

def get_missing(col, domain, urls, f):
    missing_values = pd.DataFrame(columns=col)
    for idx,url in enumerate(urls):
        miss_value = f(domain + url)
        missing_values.loc[idx] = miss_value
    return missing_values

In [149]:
df1_m = get_missing(['num_staff_total', 'num_staff_inter', 'num_student_total', 'num_student_inter', 'url'], 
           "https://www.topuniversities.com",
            df1.url,
            get_missing_values_tu)

df2_m = get_missing(['region', 'url'],
           "https://www.timeshighereducation.com",
           df2.url,
           get_missing_values_the)

In [159]:
# concatenate with the missing values
top_uni = pd.concat([df1, df1_m], axis=1)
high_educ = pd.concat([df2, df2_m], axis=1)

top_uni_clean = top_uni[['title', 'rank_display', 'country', 'region',
                        'num_staff_total', 'num_staff_inter',
                         'num_student_total', 'num_student_inter']]

top_uni_clean.columns = ['name', 'rank_top', 'country', 'region',
                        'numb_staff_total', 'num_staff_inter',
                         'num_student_total', 'num_student_inter']

high_educ_clean = high_educ[['name', 'rank', 'location', 'region',
                             'stats_student_staff_ratio',
                             'stats_number_students', 'stats_pc_intl_students']]

high_educ_clean.columns = ['name', 'rank_high', 'country', 'region',
                        'numb_staff_total',
                         'num_student_total', 'num_student_inter']

top_uni_clean.rank_top = top_uni_clean.rank_top.apply(lambda x: x.replace('=', ''))
high_educ_clean.num_student_total = high_educ_clean.num_student_total.apply(lambda x: x.replace(',','') )
high_educ_clean.num_student_inter = high_educ_clean.num_student_inter.apply(lambda x: x.replace('%','') )
high_educ_clean.rank_high = high_educ_clean.rank_high.apply(lambda x: x.replace('=',''))

top_uni_clean = top_uni_clean.apply(pd.to_numeric, errors="ignore")
high_educ_clean = high_educ_clean.apply(pd.to_numeric, errors="ignore")

# change staff/student ratio to number of staff
# change international students percentage to the actual value
high_educ_clean.numb_staff_total =  (high_educ_clean.num_student_total / high_educ_clean.numb_staff_total).round()
high_educ_clean.num_student_inter = (high_educ_clean.num_student_inter * high_educ_clean.num_student_total).apply(lambda x : x/100).round()

In [160]:
pd.set_option('precision', 0)
pd.concat([top_uni_clean, high_educ_clean]).sort_values(['name'])

,country,name,num_staff_inter,num_student_inter,num_student_total,numb_staff_total,rank_high,rank_top,region
189,Finland,Aalto University,NaN,2549,12744,631,190,NaN,PO Box/PL 96081
137,Finland,Aalto University,370,1831,12147,1257,NaN,137,Europe
118,Denmark,Aarhus University,602,3762,26226,2316,NaN,119,Europe
108,Denmark,Aarhus University,NaN,3020,25167,1760,109,NaN,DK - Denmark Nordre Ringgade 1 8000 Aarhus C
170,Germany,Albert-Ludwigs-Universitaet Freiburg,413,3897,23214,1966,NaN,171,Europe
187,Italy,Alma Mater Studiorum - University of Bologna,153,4195,63399,2990,NaN,188,Europe
125,United States,Arizona State University,NaN,8450,44475,2213,126,NaN,Tempe
47,Australia,Australian National University,NaN,5595,15986,828,48,NaN,Acton
146,Spain,Autonomous University of Barcelona,NaN,5169,32309,2505,147,NaN,Campus de la UAB Placa Civica
80,United States,Boston University,379,7041,25662,3157,NaN,81,North America
69,United States,Boston University,NaN,6208,24833,2888,70,NaN,Boston
52,United States,Brown University,379,1825,9251,1303,NaN,53,North America
49,United States,Brown University,NaN,1780,8898,832,50,NaN,Providence
2,United States,California Institute of Technology,NaN,596,2209,340,3,NaN,Pasadena
3,United States,California Institute of Technology (Caltech),350,647,2255,953,NaN,4,North America
138,United Kingdom,Cardiff University,705,6090,24565,2755,NaN,137,Europe
162,United Kingdom,Cardiff University,NaN,6288,24186,1792,162,NaN,Park Place
46,United States,Carnegie Mellon University,425,6385,13356,1342,NaN,47,North America
23,United States,Carnegie Mellon University,NaN,5704,12676,939,24,NaN,Pittsburgh
157,United States,Case Western Reserve University,NaN,1925,10130,1427,158,NaN,Cleveland
176,France,CentraleSupélec,137,1132,3877,529,NaN,177,Europe
132,Sweden,Chalmers University of Technology,336,1465,9257,1077,NaN,133,Europe
126,Germany,Charité - Universitätsmedizin Berlin,NaN,1223,6792,419,126,NaN,10117 Berlin
57,Hong Kong,Chinese University of Hong Kong,NaN,5602,18072,1045,58,NaN,Shatin
48,Hong Kong,City University of Hong Kong,1027,3273,9240,1349,NaN,49,Asia
119,Hong Kong,City University of Hong Kong,NaN,3234,9240,825,119,NaN,Tat Chee Avenue
17,United States,Columbia University,913,8105,25045,6189,NaN,18,North America
13,United States,Columbia University,NaN,8508,26587,4359,14,NaN,New York
18,United States,Cornell University,NaN,5244,21850,2230,19,NaN,Ithaca
13,United States,Cornell University,970,5411,21904,2718,NaN,14,North America
...,...,...,...,...,...,...,...,...,...
135,United Kingdom,University of York,636,3364,15999,1833,NaN,135,Europe
137,United Kingdom,University of York,NaN,4040,14962,991,137,NaN,York
135,Switzerland,University of Zurich,NaN,5273,26363,4468,136,NaN,CH-8006 Zürich Rämistrasse 71
72,Switzerland,University of Zurich,2617,5036,26065,4997,NaN,73,Europe
128,Belgium,Université Catholique de Louvain,NaN,4646,24451,647,129,NaN,Louvain-la-Neuve
174,Belgium,Université Libre de Bruxelles,NaN,8870,25343,584,175,NaN,1050 Bruxelles Avenue Franklin Roosevelt 50
130,France,Université Pierre et Marie Curie (UPMC),253,4213,24305,2273,NaN,131,Europe
152,Belgium,Université catholique de Louvain (UCL),406,4468,24277,1219,NaN,153,Europe
129,Canada,Université de Montréal,1037,9688,39112,2961,NaN,130,North America
111,Sweden,Uppsala University,584,5198,25371,2567,NaN,112,Europe
86,Sweden,Uppsala University,NaN,2769,25174,1455,86,NaN,Uppsala
109,Netherlands,Utrecht University,653,2771,31754,3067,NaN,109,Europe
67,Netherlands,Utrecht University,NaN,2207,31522,2074,68,NaN,P.O Box 80125
105,United States,Vanderbilt University,NaN,1561,12011,3640,105,NaN,Nashville
184,Austria,Vienna University of Technology,172,5199,17479,706,NaN,182,Europe
165,Netherlands,Vrije Universiteit Amsterdam,NaN,1719,24554,1357,165,NaN,De Boelelaan 1105
181,Belgium,Vrije Universiteit Brussel (VUB),515,1853,9284,1792,NaN,182,Europe
123,Netherlands,Wageningen University,323,3613,12695,2277,NaN,124,Europe
63,Netherlands,Wageningen University & Research,NaN,3575,12326,626,64,NaN,Building nr. 104 Droevendaalsesteeg 4
50,United States,Washington University in St Louis,NaN,2142,12600,1680,50,NaN,St. Louis
99,United States,Washington University in St. Louis,784,2706,13474,2699,NaN,100,North America
11,United States,Yale University,NaN,2553,12155,2827,12,NaN,New Haven
15,United States,Yale University,1708,2469,12402,4940,NaN,16,North America
105,South Korea,Yonsei University,290,3379,25903,3621,NaN,106,Asia
86,China,Zhejiang University,1913,4625,40869,4507,NaN,87,Asia
177,China,Zhejiang University,NaN,3003,50051,3550,177,NaN,Zhejiang Province 866 Yuhangtang Road Hangzhou
181,France,École Normale Supérieure de Lyon,NaN,289,2221,261,182,NaN,BP 7000 69342
156,France,École Normale Supérieure de Lyon,91,221,2020,382,NaN,157,Europe
114,France,École Polytechnique,NaN,1008,2799,549,115,NaN,91128 Palaiseau
37,Switzerland,École Polytechnique Fédérale de Lausanne,NaN,5460,9928,886,38,NaN,1015 Lausanne Route Cantonale

In [155]:
from difflib import SequenceMatcher

def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()

similar("epfl", "the epfl")

0.6666666666666666

In [ ]:
def diff_rows(r1, r2):
    """gives the overall difference between 2 rows"""